h1 {color: violet; font-size:35px;}
h2 {color: purple; font-size:25px;}
h3 {color: lightseagreen; font-size: 20px;}
h4 {color: black; font-size: 18px;}
h5 {color: lightseagreen; font-size: 20px;}
#pic2 {
  width: 75%;
  height: 75%;
}
#pic8 {
  width: 75%;
  height: 75%;
}
#pic9 {
  width: 75%;
  height: 75%;
}
#pic10 {
  width: 75%;
  height: 75%;
}
#pic11 {
  width: 75%;
  height: 75%;
}
#pic12 {
  width: 75%;
  height: 75%;
}
#pic13 {
  width: 75%;
  height: 75%;
}
#pic14 {
  width: 30%;
  height: 30%;
}
#pic15 {
  width: 30%;
  height: 30%;
}
#pic16 {
  width: 30%;
  height: 30%;
}
#pic17 {
  width: 30%;
  height: 30%;
}
#pic18 {
  width: 30%;
  height: 30%;
}
#pic19 {
  width: 30%;
  height: 30%;
}
#pic20 {
  width: 80%;
  height: 80%;
}
#pic21 {
  width: 80%;
  height: 80%;
}
#pic22 {
  width: 30%;
  height: 30%;
}
#pic23 {
  width: 30%;
  height:30%;
}
#pic24 {
  width: 30%;
  height: 100%;
}
#pic26 {
  width: 30%;
  height: 30%;
}
#pic29 {
  width: 30%;
  height: 40%;
}
#pic30 {
  width: 30%;
  height: 40%;
}
#pic31 {
  width: 30%;
  height: 40%;
}
#pic33 {
  width: 30%;
  height: 40%;
}
#pic34 {
  width: 30%;
  height: 50%;
}
body
{
    background-image: url("background6.jpg")
}
